extend repoNavigation
block append content
  //-var foo="hola"
  //h1=foo
  table.table.table-hover
    thead
      tr
        th(width="80%")='name'
        th(width="10%")='mode'
        th(width="10%")='size'
    tbody
      //-var list = directoryContents.sort((a,b)=>{ return a.contentType > b.contentType })
      each val, index in directoryContents
        tr
          td
            if (val.contentType != 'blob' && val.contentType != 'commit')
              a(href='/' + reponame + '/tree/' + branch + '/' + index.replace(/\//g, '%2F') + '%2F')
                <i class="material-icons">folder</i>
                = ' '+ val.contentName
            else if (val.contentType != 'commit')
              a(href='/' + reponame + '/blob/' + branch + '/' + index.replace(/\//g, '%2F'))
                <i class="material-icons">insert_drive_file</i>
                = ' '+ val.contentName
            else
              <i class="material-icons">swap_horiz</i>
              = ' ' + val.contentName
          td
            small=val.mode
          td=val.fileSize
