extend repoNavigation
block append content
  each val, index in commits
    .card
      .card-header
        = index
      .list-group.list-group-flush
        each com, treeish in val
          .list-group-item
            a(href='/' + reponame + '/commit/' + treeish, class='pull-right btn btn-default')
              i.material-icons="remove_red_eye"
              = ' View ' + treeish.substr(0,7)
            p.list-group-item-text
              strong= com.msg
            p.list-group-item-text
              a(href='mailto:' + com.author.email)
                = com.author.name
              = ' authored on ' + com.date
    br

  nav                
    ul.pagination.justify-content-center
      li.page-item.disabled
        a.page-link(href="#", tabindex="-1")
          i.material-icons="keyboard_arrow_left"
      - var yp = 1;
      - for (var x = 0; x < parseInt(commitCount); x += 15)
        if (page == yp - 1)
          li.page-item.disabled
            a.page-link(href='/' + reponame + '/commits/' + branch + '/' + (yp - 1))= yp++
        else
          li.page-item
            a.page-link(href='/' + reponame + '/commits/' + branch + '/' + (yp - 1))= yp++
      li.page-item.disabled
        a.page-link(href="#", tabindex="-1")="Next"
          i.material-icons="keyboard_arrow_right"