extend layout
block content
  .row
    .col-md-12

      //form(class='form-search pull-right', action=reponame + '/tree/' + branch + '/search', method='POST')
        //input(type='search', name='query', class='form-control', placeholder='Search tree &hellip;')

      .dropdown
        button.btn.dropdown-toggle(data-toggle='dropdown',role='button')
          = 'browsing: '+branch
        .dropdown-menu
          h6.dropdown-header='Branches ('+ heads.length +')'
          each val in heads
            a.dropdown-item(href='/' + reponame + '/' + val)
              = val + ' '
              if (branch===val)
                i.material-icons="check"              
          .dropdown-divide
          h6.dropdown-header='Tags ('+ tags.length +')'
          each val in tags
            a.dropdown-item(href='/' + reponame + '/' + val)= val
          if(!tags.length)
            a.dropdown-item.disabled
              small= '(No tags)'

      ul.nav.nav-tabs
        if ('Files' == activeTab)
          li.nav-item
            a.nav-link.active(href='/' + reponame + '/' + branch)= 'Files'
        else
          li.nav-item
            a.nav-link(href='/' + reponame + '/' + branch)= 'Files'
        if ('Commits' == activeTab)
          li.nav-item
            a.nav-link.active(href='/' + reponame + '/commits/' + branch)= 'Commits'
        else
          li.nav-item
            a.nav-link(href='/' + reponame + '/commits/' + branch)= 'Commits'

  .row
    .col-md-12
      br
      nav(aria-label="breadcrumb")

        ol.breadcrumb
          li.breadcrumb-item
            a(href='/' + reponame + '/' + branch)= reponame
          each val, index in breadcrumb
            if (0 == val.length)
              li.breadcrumb-item.active
                = index
            else
              li.breadcrumb-item
                a(href='/' + reponame + '/tree/' + branch + '/' + val)= index
